<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<connectionStrings><add name="ABIDBEntities" connectionString="metadata=res://*/ModelABI.csdl|res://*/ModelABI.ssdl|res://*/ModelABI.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BIP6;initial catalog=ABIDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>